html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
article,
header,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: baseline;
}

article,
header,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1;
}

.banner {
  background-color: lightgray;
}

.bannerContent {
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  padding: 1em 0;
  font-size: 200%;
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 150%;
  margin: 1em;
}

section {
  padding: 1em;
}

article {
  margin: 2em 0;
}

table,
th,
td {
  border: 1px solid black;
  margin: 0 auto;
}

.emptyCell {
  color: lightgrey;
}

table.loading {
  opacity: 0.5;
}

.filterBar {
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}

.paginationBar {
  margin: 1em auto;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
}
